<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.rivchat">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/disasterkit"
        android:label="Disaster kit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.android.rivchat.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.android.rivchat.ui.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.rivchat.ui.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent" />
        <activity
            android:name="com.android.rivchat.ui.ChatActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.android.rivchat.MainActivity"/>
        <activity android:name="com.android.rivchat.ui.AddGroupActivity"
            android:theme="@style/MyThemeNoActionbar"/>
        <activity android:name="com.android.rivchat.ui.DownloadMap.MapDownload_Activity"
            android:theme="@style/MyThemeNoActionbar"
            android:label="マップダウンロード"/>
        <activity android:name="com.android.rivchat.ui.QRCord.QRmade"
            android:theme="@style/MyThemeNoActionbar"
            android:label="友達追加"/>
        <activity android:name="com.android.rivchat.ui.DisplayMap.MapActivity"
            android:theme="@style/MyThemeNoActionbar"
            android:label="マップ"/>
        <activity android:name="com.android.rivchat.ui.SearchActivity"
            android:theme="@style/MyThemeNoActionbar"
            android:label="マップ"/>
        <activity android:name="com.android.rivchat.ui.Bluetooth.BluetoothActivity"
            android:theme="@style/MyThemeNoActionbar"
            android:label="マップ"/>
        <service android:name="com.android.rivchat.service.FriendChatService"
            android:exported="false"
            android:persistent= "true" />
    </application>

</manifest>